@charset 'utf-8';
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@100;900&display=swap");

body {
  /* 어절단위 */
  word-break: keep-all;
  font: 1rem /1.5 "Nanum+Gothic", sans-serif;
  margin: 0;padding: 0;
}

a {
  /* 링크 초기화 */
  text-decoration: none;
  /* 색상 상속 */
  color: inherit;
}
p{
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 16px; /* 기준 폰트 사이즈 설정 */

}
ul,li{
  list-style: none;
  margin: 0;
  padding: 0;
}
.inner {
  width: 1200px;
  margin: 0 auto;
}
section{
  margin: 200px 0;
}